*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
:root{
    --color1--:#1c1c1c;
    --color2--:#2c2c2c;
    --color3--:#727272;
    --color4--:#ca331f;
}
body{
    background: var(--color1--);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
nav{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: var(--color2--);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color3--);
}
.navLinks{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navLinks div{
    width: 90px;
    height: 80%;
    background-color: var(--color1--);
    cursor: pointer;
    border: 2px solid var(--color4--);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.navLinks div:hover{
    background-color: #464646;
}
.logo{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--color4--);
    font-weight: bold;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: default;
}
.content{
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
}
.leftBar{
    position: relative;
    width: 15%;
    height: 100%;
    background-color: var(--color2--);
    border-right: 2px solid var(--color3--);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
}
.main{
    position: relative;
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: start;
}
.main div{
    width: 100px;
    height: 100px;
    background-color: var(--color2--);
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main div:hover{
    background-color: var(--color3--);
}
.main div h1{
    font-size: 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.fa-desktop{
    font-size: 35px;
    color: var(--color4--);
}
.fa-house,.fa-sack-dollar,.fa-user{
    font-size: 30px;
}
.selected{
    background-color:#727272 !important;
}
.rightclickMenu{
    width: 250px;
    height: 300px;
    position: absolute;
    border: 2px solid var(--color4--);
    z-index: 1000;
    background-color: var(--color3--);
    display: none;
}
.rightclickMenu li{
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--color2--);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.rightclickMenu li:hover{
    background-color: var(--color1--);
    color: white;
}
.priceDiv{
    width: 100%;
    height: 30%;
    /* background-color: red; */
    margin-top: 30%;
    border-top: 1px solid var(--color3--);
    border-bottom: 1px solid var(--color3--);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.priceDiv input{
    height: 30px;
    width: 80%;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 20px;
}
.priceDiv input:focus{
    transform: scaleX(1.1);
    border-left: 4px solid var(--color4--);
}
.timeDiv{
    width: 90%;
    height: 70%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.timeDiv div{
    width: 45%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color1--);
    cursor: pointer;
    font-weight: bold;
}
.timeDiv div:hover{
    background-color: var(--color3--);
    border: 1px solid var(--color4--);
}
